@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Helvetica.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Helvetica.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Helvetica.ttf') format('truetype'), /* Safari, Android, iOS */
  }